### Installation
#
# 1. Replace "ec2-user" with your username.
# 2. Update WorkingDirectory to where the docker-compose.yaml file is located
# 3. Copy to /etc/systemd/system/sourcegraph.service
# 4. sudo systemctl start sourcegraph
# 5. sudo systemctl enable sourcegraph

[Unit]
Description=Sourcegraph service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

User=ec2-user

WorkingDirectory=/home/ec2-user/deploy-sourcegraph-docker/docker-compose

ExecStart=/usr/local/bin/docker-compose up

ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
