version: '2.4'
services:
  otel-collector:
    container_name: otel-collector
    image: otel/opentelemetry-collector:0.54.0
    volumes:
      - '../otel-collector/config.yaml:/etc/otel-collector/config.yaml'
    cpus: 0.5
    mem_limit: '512m'
    ports:
      - '0.0.0.0:4317:4317'
      - '0.0.0.0:55679:55679'
    networks:
      - sourcegraph
    restart: always
    environment:
      - JAEGER_AGENT_HOST=jaeger
    command: ['--config', '/etc/otel-collector/config.yaml']

  # Apply exporter configuration - to learn more, see:
  # https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#configuration-options

  sourcegraph-frontend-0:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  sourcegraph-frontend-internal:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  gitserver-0:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
  
  zoekt-indexerver-0:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  zoekt-webserver-0:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  searcher-0:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  github-proxy:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  precise-code-intel-worker:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  repo-updater:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
  
  worker:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  symbols-0:
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
